/* INFO BAR SECTION START */

#info_bar {
    background-color: #A23F25;
    color: #ffffffab;
    font-weight: 100;
    height: 2rem;
    font-size: 12px;
}

.info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.num,
.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #fff;
}

.socials i {
    cursor: pointer;
}

.login-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-sign a {
    color: #ffffff;
    font-weight: 200;
}

/* INFO BAR SECTION END */





/* HEADER SECTION START */

header {
    padding: 1.5rem 0;
}

header li {
    font-size: 1rem;
}

header button,
a {
    color: #fff !important;
    filter: brightness(70%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: none;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 !important;
}

header h4 {
    margin: 0 !important;
    cursor: pointer;
}

.right-nav a:hover,
.right-nav button:hover {
    color: #A23F25 !important;
    transition: .5s;
}

header i {
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    color: #A23F25;
}

header i>span {
    position: absolute;
    top: -.4rem;
    right: -.4rem;
    color: #fff;
    font-size: 12px;
    padding: .2rem .4rem;
    background-color: #ffffff41;
    border-radius: 50%;
    text-align: center;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* HEADER SECTION END */




/*MAIN SECTION START*/

#section_main {
    min-height: 40rem;
    background-image: url("https://preview.colorlib.com/theme/liquorstore/images/bg_2.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
    color: #fff !important;
}

.main {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}


.main h1 {
    font-size: 80px;
    text-align: center;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-btn a {
    color: #fff;
}

.main button {
    font-size: 1rem;
    border: 0;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
}

.main .btn1 {
    background-color: #A23F25;
    border: 1px solid #A23F25;
}

.main .btn2 {
    background-color: transparent;
    border: 1px solid #fff;
}

.main-btn .btn2:hover {
    background-color: #A23F25;
    border: 1px solid #A23F25;
    transition: .5s;
}

/*MAIN SECTION END*/



/* INFO BOX SECTION START */

#info-boxes {
    min-height: 10rem;
    background-color: #B7472A;
}

.info-cards {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 3rem .6rem;
}

.info-card i {
    font-size: 2.5rem;
}

.info-card h6 {
    font-size: 1.6rem;
}

.info-card span {
    font-size: 1rem;
    font-weight: 100;
    line-height: 2;
}

.card2 {
    background-color: #AB4227;
}

.card3 {
    background-color: #A23F25;
}

/* INFO BOX SECTION END */



/* ABOUT SECTION START */

/* .hero{
    border: 1px solid red;
} */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    min-height: 34rem;
    /* margin-top: 3rem;
    margin-bottom: 3rem; */
    padding: 6rem 0;
}

.hero-img {
    width: 32rem;
    height: 26rem;
}

.hero-text {
    flex: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    margin-bottom: 0;
}

.hero-text h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-text .since {
    font-size: 1rem;
}

.hero-text span {
    color: #B7472A;
    font-style: italic;
}

.hero h5,
.hero>h5>span {
    font-size: 30px;
}

/* ABOUT SECTION END */



/* HIGHLIGHT SECTION START */

#highlights_area {
    min-height: 20rem;
}

.highlights {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}


.highl-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    outline: 1px solid #A23F25;
    outline-offset: 10px;
}


.highl-img img {
    border-radius: 50%;
}

/* HIGHLIGHT SECTION END */



/* PRODUCT SECTION START */

#products_area {
    min-height: 70rem;
}

.product-images-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.products {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prod-content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale {
    position: absolute;
    bottom: -24px;
    left: 0;
    background-color: orange;
    color: #fff !important;
    font-size: 12px !important;
    padding: 3px 10px;
}

.prod-img {
    position: relative;
    width: 255px;
    height: 350px;
}

.products span {
    color: #b7472a;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.products h1 {
    line-height: 1.5;
    font-weight: 600;
}

.price {
    color: #000 !important;
    padding-right: 10px;
    text-decoration-line: line-through;
}

.prod-content p {
    font-size: 16px;
}

.products button {
    margin-top: 2rem;
    border: 0;
    background-color: #b7472a;
    color: #fff;
    padding: .6rem 9rem;
    font-size: 14px;
    border-radius: 3px;
}

.products button>i {
    padding-left: 5px;
}

/* PRODUCT SECTION END */



/* CLIENT SECTION START */

#clients-area {
    min-height: 30rem;
    background-image: url("../images/image1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
}

.client-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.client-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.clients {
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.client-img img {
    border-radius: 50%;
}

.client-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .7rem;
}

.client-box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 1.3rem .5rem;
}

.client-box i {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 1.2rem;
    background-color: #A23F25;
    padding: 9px;
    border-radius: 50%;
}

.client-box p {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #bdbcbc;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client-content span {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.client-content h1 {
    font-size: 40px;
    font-weight: 600;
}


.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    font-size: .8rem;
}

.circle1 {
    color: #A23F25;
}

/* CLIENT SECTION END */




/* BLOG SECTION START */

#blog-area {
    min-height: 30rem;
}

.blogs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0;
}


.blog-img {
    width: 250px;
    height: 320px;
}

.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.blog-content h1 {
    font-size: 40px;
    font-weight: 600;
}

.blog-content span {
    font-size: 16px;
    font-weight: 300;
    color: #b7472a;
    font-style: italic;
}

.blog-boxes {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.blog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #F5F4F0;
}


.blog-text {
    width: 260px;
    height: 100%;
    padding-right: 1rem;

}

.blog-text h4 {
    font-size: 18px;
    font-style: italic;
    margin-top: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.blog-text h4:hover {
    color: #A23F25;
    transition: .5s;
}

.blog-text span {
    font-size: 14px;
    color: rgb(141, 141, 141);
}

.blog-text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(141, 141, 141);
    margin-top: 1rem;
}

.blog-text button {
    border: 0;
    color: #B7472A;
    font-size: 14px;
    border-radius: 3px;
    font-style: italic;
    background-color: transparent;
}

.blog-text i {
    font-size: 12px;
    padding-left: 5px;
}

/* BLOG SECTION END */




/* RESPONSIVE */

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .main h1 {
        width: 70%;
        font-size: 70px;
    }

    .hero-img {
        height: 100%;
    }

    .hero-text {
        gap: .8rem;
    }


    .hero-img {
        height: 30rem;
    }

    .prod-img {
        width: 175px;
        height: 250px;
    }

    .prod-content h4 {
        font-size: 16px;
    }

    .blog-img {
        width: 200px;
        height: 300px;
    }

    .blog-boxes {
        width: 100%;
        justify-content: center;
        gap: .8rem;
    }

    .blog-box {
        width: 400px;
    }

}

@media (max-width: 768px) {
    .login-sign {
        font-size: 1rem;
    }

    .nav ul {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .nav-menu h6 {
        margin-bottom: 0 !important;
    }

    .nav {
        justify-content: space-between;
    }

    .main h1 {
        width: 60%;
        font-size: 35px;
        margin-bottom: 2rem;
    }

    .info-card {
        flex-direction: column;
        align-items: baseline;
    }

    .hero-img {
        height: 36rem;
    }

    .highlights {
        margin-bottom: 2rem;
        min-height: 20rem;
        flex-wrap: wrap;
    }

    .highlight {
        width: 200px;
        height: 200px;
    }

    .prod-img {
        width: 125px;
        height: 200px;
    }


    .prod-content h4 {
        font-size: 15px;
    }

    .sale {
        bottom: -18px;
        font-size: 10px !important;
        padding: 2px 8px;
    }

    .blog-box {
        width: 100%;
        justify-content: space-between;
    }

    .blog-img {
        width: 350px;
        height: 350px;
    }

    .blog-text {
        flex: 1;
    }

}

@media (max-width: 480px) {
    #info_bar {
        height: 3rem;
    }

    .info {
        flex-wrap: wrap;
    }

    .num-mail {
        width: 100%;
        justify-content: left;
    }

    .right {
        width: 100%;
        justify-content: space-between;
        gap: 2rem;
    }

    .info-cards {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
    }

    .hero-img {
        width: 100%;
    }

    .highlight {
        flex: 1 1 100%;
    }

    .highlights {
        gap: 3rem;
    }

    .products {
        margin-top: 2rem;
    }

    .product-images-cont {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .prod-content {
        gap: 1rem;
    }

    .products {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .prod-img {
        width: 100%;
        height: 380px;
    }

    .client-boxes {
        flex-direction: column;
        gap: 2rem;
    }


    .blog-img {
        width: 180px;
        height: 200px;
    }

    .blog-text h4 {
        font-size: 16px;
    }

    .blog-text p {
        font-size: 13px;
    }

    .home-footer {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-logo {
        width: 100%;
        flex-direction: column;
    }

}